@import url('https://fonts.googleapis.com/css2?family=Actor&family=Kadwa:wght@400;700&display=swap');

h1, h2, h4 {
    font-family: Kadwa;
}

p, a {
    font-family: Actor;
}

.bg-green {
    background-color: #375540;
}

.bg-brown {
    background-color: #343030;
}

.nav-link {
    color: white;
    transition: scale 0.5s;
}

.nav-link:hover {
    scale: 1.2;
    color: white;
}

.nav-item {
    border-right: 2px solid white;
}

.nav-item:last-child {
    border-right: none;
}

.nav-item {
    width: 33%;
}

#about-me img {
    width: 50%;
    height: 50%;
}

section:not(section:first-of-type) {
    margin-top: 6em;
}

#projects ul {
    list-style-type: none;
}

#things-i-like img {
    width: 100%;
    height: 100%;
}

#things-i-like figcaption {
    font-size: small;
}

.text-pink {
    color: #E1306C;
}

.text-green {
    color: #1DB954;
}

footer a {
    transition: scale 0.5s;
}

footer a:hover {
    scale: 1.2;
}